@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@font-face {
  font-family: "PP NeueBit";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PPNeueBit-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("/public/fonts/PretendardVariable.woff2");
}
@import "tailwindcss";

@theme {
  --font-neuebit: "PP NeueBit", sans-serif;
  --font-sofia: "Sofia Sans", sans-serif;
  --font-pretendard: "Pretendard Variable", -apple-system, sans-serif;

  --color-white: #f7f7f7;
  --color-black: #101010;
  --color-green: #33c767;

  --animate-scanline-move: scanline-move 1s linear infinite;

  @keyframes scanline-move {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 12px;
    }
  }
}

body {
  background-color: #f7f7f7;
}
